$container-color : #cecece;

%activity-layout {
  position: fixed;
  width: 450px;
  height: 100%;
  background-color: #fafafa;
  z-index: 1;
  border: 1px solid #b4b4b4;
  overflow:scroll;
  -webkit-animation-duration: 1.5s;
}

%header {
  float: left;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

%input-btn {
  width:206px;
  height: 45px;
  font-size: large;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.display { 
  display: block;
}

.non-display {
  display: none;
}

.opacity-on{
  opacity: 0.5;
}

.opacity-off{
  opacity:1;
}

.navbar {
  width: 1792px;
  height: 60px;
  margin: -8px;
  background-color: #000000;
  .navbar-title {
    @extend %header;
    padding: 13px 0px 0px 80px;
  }
  .navbar-menu {
    @extend %header;
    padding: 13px 0px 0px 1400px;
    cursor: pointer;
  }
}

.filter-contatiner {
  width: 100%;
  height: 60px;
  margin: 10px 0 0 -8px;
}

.contents {
  width: 100%;
  height: 100%;
  margin: 0 0 0 140px;
}

.todo-container {
  float: left;
  width: 450px;
  height: 700px;
  margin: 5px 0 0 30px;
  border-radius: 8px;
  background-color: #dee3e9;
}

.todo-title {
  width: 420px;
  height: 30px;
  margin: 20px 0 0 15px;
}

.todo-contents {
  width: 420px;
  margin: 5px 0 0 15px;
}

.todo-cards {
  width: 390px;
  margin-top: 10px;
  padding: 13px 0 0 30px;
  border: 1px solid $container-color;
  border-radius: 5px;
  background-color: #fafafa;
  color: #424242;
  font-weight: 500;
}

.card-title {
  width: 350px;
  height: 30px;
  float: left;
}

.remove-card {
  text-align: right;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 900;
  color: #424242;
  cursor: pointer;
}

.todo-author {
  margin: 15px 0 13px 0;
  font-size: 14px;
  color: #979797;
}

.svg-class {
  height:30px;
  width:30px;
}

.title-li {
  float: left;
  margin-top: 2px;
  position: absolute;
}

.title-number {
  position: absolute;
  margin: 7px 0 0 9px;
  font-weight: 900;
  color: #424242;
}

.title-text {
  margin: 5px 0 0 50px;
  font-size: large;
  font-weight: 700;
  color: #424242;
}

.title-add {
  margin: -7px 0 0 360px;
  font-size: 35px;
  color: #424242;
  cursor: pointer;
}

.title-delete {
  margin: 1px 0 0 395px;
  font-size: 20px;
  font-weight: 900;
  color: #424242;
  cursor: pointer;
}

.todo-add {
  width: 430px;
  height: 130px;
  margin: 10px 0 0 15px;
}

.add-input {
  width: 408px;
  height: 70px;
  padding-left: 10px;
  border: 1px solid #148aeb;
  border-radius: 5px;
  background-color: #fafafa;
}

.add-button {
  @extend %input-btn;
  margin-top: 10px;
  color: #ebebeb;
  border: 1px solid #4da160;
  background-color: #4ebb66;
}

.cancel-button {
  @extend %input-btn;
  margin: 6px 0 0 5px;
  color: #424242;
  border: 1px solid #b4b4b4;
}

.activity-in {
  @extend %activity-layout;
  margin-left: 1342px;
  -webkit-animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
      margin-left: 1800px;
      width: 450px;
  }
  to {
      margin-left: 1342px;
      width: 450px;
  }
}

.activity-out {
  @extend %activity-layout;
  margin-left: 1800px;
  -webkit-animation-name: slideout;
}

@-webkit-keyframes slideout {
  from {
    margin-left: 1392px;
    width:450px;
  }
  to {
    margin-left: 1800px;
    width: 450px;
  }
}

.activity-title {
  padding: 12px 0 0 20px;
  width: 100%;
  height: 26px;
  font-weight: 600;
  background-color: #dee3e9;
  border-bottom: 1px solid $container-color;
  .activity-close {
  margin-left: 350px;
  cursor: pointer;
  }
  .activity-clear {
    margin-left: 328px;
    cursor: pointer;
  }
}

.activity-item {
  width: 100%;
  border-bottom: 1px solid $container-color;
}

.item-title {
  margin: 20px 0 0 70px;
  width:80%;
  font-weight: 500;
}

.item-timelog {
  margin: 5px 0 20px 70px;
  width: 80%;
  font-size: 14px;
  color:#646464;
}

.item-bold {
  color: #1380da;
  font-weight: 700;
}

.user-img {
  float: left;
  width: 35px;
  margin-left: 20px;
  border-radius: 5px;
}

.column-modal {
  position: fixed;
  width: 550px;
  height: 250px;
  margin: 300px 0 0 600px;
  border: 1px solid #8d8d8d;
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 1;
}

.column-head {
  width: 550px;
  height: 60px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #c1c6cc;
  background-color: #dee3e9;
  
}

.column-title {
  float: left;
  width: 480px;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0 0 20px;
}

.column-cancel {
  float: left;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0 0 15px;
  cursor: pointer;
}

.column-text {
  margin: 30px 0 0 20px;
  font-size: 18px;
  font-weight: 600;
}

.column-input {
  margin: 7px 0 0 19px;
  padding-left: 20px;
  width: 500px;
  height: 40px;
  border: 1px solid #148aeb;
  border-radius: 5px;
  font-size: 18px;
}

.update-btn {
  @extend %input-btn;
  margin: 20px 0 0 170px;
  color: #f6f6f6;
  border: 1px solid #4da160;
  background-color: #4ebb66;
}