$header-background : #000000
$header-font-color : #ffffff

.header
    font-size: 30px
    background: $header-background
    color: $header-font-color
    display: flex
    justify-content: space-between
    padding: 20px 50px
