html, body, div, p, span,
strong, b, em, iframe, pre,
h1, h2, h3, h4, h5, h6, img, dl, dt, dd,
fieldset, form, legend, label, table, caption,
thead, tbody, tfoot, tr, th, td, ul, ol, a,
select, textarea {margin: 0; padding: 0; border: 0 none; }
body{
    background-color:rgb(255, 255, 255);
}
button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0;
}