$screen-width-breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1280px,
);

$display-values: (
  "none": none,
  "block": block,
  "inline": inline,
  "flex": flex,
  "inline-flex": inline-flex,
);

@each $property-name, $property-value in $display-values {
  .d-#{$property-name} {
    display: $property-value;
  }
}
@each $breakpoint, $pixel in $screen-width-breakpoints {
  @media (min-width: $pixel) {
    @each $property-name, $property-value in $display-values {
      .d-#{$breakpoint}-#{$property-name} {
        display: $property-value;
      }
    }
  }
}