input {
  border-radius: 0.75rem;
  border: 1px solid #dadada;
  padding: 0.5rem 1rem;
  outline: none;

  &.highlight:focus {
    border-color: $color-orangered;
  }
}

.input-focus-show {
  background-color: #ffffff;
  border-radius: 0.75rem;
  border: 1px solid $color-orangered;
  margin-top: -1px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

input:focus + .input-focus-show {
  display: initial;
}