input, textarea, .form-component {
  border-radius: 0.5rem;
  border: 1px solid $color-lightgray;
  outline: none;
  padding: 0.5rem 1rem;

  &.highlight:focus {
    border-color: $color-orangered;
  }
}

.input-focus-show {
  background-color: #ffffff;
  border-radius: 0.75rem;
  border: 1px solid $color-orangered;
  margin-top: -1px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

input:focus + .input-focus-show {
  display: initial;
}

textarea.fix-horizontal {
  display: block;
  resize: vertical;
  width: 100%;
}
