.kanban-wrapper {
  overflow-x: scroll;
  height: 100%;
  width: 100%;
}

.kanban {
  display: inline-flex;
  height: 100%;

  .children-wrapper {
    display: flex;
  }

  .column {
    background-color: $color-light;
    border: 1px solid $color-lightgray;
    border-radius: 1em;

    display: flex;
    flex-direction: column;

    width: 24em;
    height: 100%;

    padding: 0.5em 1em;
    & + .column {
      margin-left: 1em;
    }

    .children-wrapper {
      display: block;
      height: 100%;
      overflow: scroll;

      .note {
        background-color: $color-bright;
        border: 1px solid $color-lightgray;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        margin-bottom: 0.5em;
      }
    }
  }
}