<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="public/css/header.css"></link>
    <link rel="stylesheet" type="text/css" href="public/css/container.css"></link>
    <link rel="stylesheet" type="text/css" href="public/css/body.css"></link>
    <link rel="stylesheet" type="text/css" href="public/css/searchBar.css"></link>
    <link rel="stylesheet" type="text/css" href="public/css/sideBar.css"></link>
</head>
<body>
    <header></header>
    <div id="side-bar"></div>
    <div id="search-bar-section"></div>
    <div id="container"></div>
</body>
</html>